*{
  font-family: monospace;
  margin:0;
  padding:0;
  text-decoration: none;
}
.container{
  background-image: url('./image/IrM.gif');
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  background: #191D2B;
  color: #fff;
  height: 100vh;
  width: 230px;
  transition: all 0.5s;

}

.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}

.link{
  display: flex;
  color: #A4AAB6;
  padding: 10px 15px;
  transition: all 0.5s;
}
.link:hover{
  background: #037FFF;
  color: rgb(185, 223, 238);
  transition: all 0.5s;
}
.active{
  background: #037FFF;
  color: white;
}
.icon, .link_text{
  font-size: 20px;
}
.logo img{
  border-radius: 50%;
  border: 5px solid #2E344E;
}
